<!DOCTYPE html>
<html>
<head>
	<title>Login Doctor or Receptioniste</title>
	<link rel="stylesheet" type="text/css" href="./swap.css">
</head>
<body>
	<div class="hero">
		<div class="form">
			<div class="choice">
				<img src="Backgrounds/AvatarPat.png">
				<img src="Backgrounds/AvatarDoc.png">
			</div>
			
			<form class="input-groupe" id="logdoc" action="" method="POST">

				<p>Username</p>

				<input type="text" placeholder="login"  class="inputs" name="Email" required>
				
				<p>Password</p>
				
				<input type="password"  name="Password"  placeholder="Password"  class="inputs" required>
				
				<button id="submit" type="submit" class="mainButton" >Login</button>
				

            </form>

	</div>

	
</body>
</html>